img {
    width: 150px;
    height: 150px;
}

html, body {
    margin: 0;
    height: 100%;
}

.text {
    font-weight: 900;
}

/*////////////////////////////////////// Header ///////////////////////////////////////*/

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 73, 143);
    height: 125px;
}

.header .text {
    font-size: 50px;
    text-align: center;
    color: yellow;
}



/*////////////////////////////////////// Content ///////////////////////////////////////*/


.content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    background-color: rgb(54, 153, 128);
}

/* top */
.content .top {
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 34px;
    
}

.content .top .text {
    text-align: center;
    font-size: 28px;
}

.content .top .subtext {
    text-align: center;
    font-size: 22px;
}

/* middle */
.content .middle {
    height: 175px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    /* border: 2px solid blue; */
}

.content .middle .boxes{
    display: flex;
    justify-content: space-evenly;
    /* border: 2px solid purple; */
    width: 60%;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .box img {
    border: 2px solid red;
} */

.box .text {
    text-align: center;
    font-size: 22px;
    /* border: 2px solid red; */

}

/* bottom */

.content .bottom {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    /* border: 2px solid red; */
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: rgb(54, 153, 128);
    border-radius: 50px;
    width: 50%;
    /* border: 2px solid red; */
    flex-wrap: wrap;
}

.btn {
    background-color: white;
    border-radius: 50px;
    width: 30%;
    min-width: 140px;
    height: auto;
    border-color: transparent;
}

.btn img {
    border-radius: 50px;
    width: 30%;
    min-width: 100px;
    height: auto;
}


/*////////////////////////////////////// Footer ///////////////////////////////////////*/

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(20, 73, 143);
    color: yellow;
    text-align: center;
    height: 45px;
}